body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  
    background: #292E49 !important;
    background: -moz-linear-gradient(top, #292E49 0%, #165681 100%, #292E49 100%) !important;
    background: -webkit-linear-gradient(top, #292E49 0%, #165681 100%, #292E49 100%) !important;
    background: linear-gradient(to bottom, #292E49 0%, #165681 100%, #292E49 100%) !important;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
